* {
    margin: 0;
    padding: 0;
}

body {
    font: 100.01%/1.6 sans-serif;
    color: #555;
    background-color: #eee;
}

#wrapper {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin: 10px auto;
    width: 960px;
}

nav ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
    color: #1E90FF;
}

a:hover {
    color: darkslateblue;
}

ul li {
    display: inline;
    margin: 0 10px 0 0;
}

#breadcrumb a:after {
    content: ' > ';
}

#breadcrumb li:last-child a:after {
    content: '';
}

code {
    font: 100.01% monospace;
    color: #777;
}
