@import 'normalize.css';
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font: 100.01%/1.6 'Open Sans', sans-serif;
    color: #555;
    background-color: #eee;
}

#wrapper {
    margin: 70px auto 0;
}

/**
 * ################ HEADER ################
 */

header {
    position: relative;
}

.logout {
    position: absolute;
    top: 0;
    right: 0;
}

/**
 * ################ FOOTER ################
 */

#footer {
    margin: 50px 0 0;
    background-color: #F8F8F8;
    padding: 10px 0;
    border-top: 1px solid #e7e7e7;
}

#footer p {
    margin: 0;
}

/**
 * ################ MISC ################
 */

.textfield-wrapper,
.textarea-wrapper,
.submit-wrapper {
    padding: 10px;
}

.textfield-wrapper input,
.textarea-wrapper textarea {
    width: 300px;
    padding: 3px;
    border: 1px solid #aaa;
}
